*{
    margin: 0%;
    padding: 0%;
}

.container{
    background-image: url("/Clock/daniel-leone-v7daTKlZzaw-unsplash.jpg") ;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockRound{
    height: 50vmin;
    width: 50vmin;
    border: 20px solid white;
    border-radius: 50%;
}
.pos{
    height: 0vmin;
    width: 25vmin;
    position: absolute;
    top: 50%;
    border: 3px solid white;
    transform-origin: 90%;
    transition: all 0.07s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    border-radius: 10px;
}
.hourLine{
    width: 20vmin;
    margin-left: 5.5vmin;

}
.minLine{
    width: 23vmin;
    margin-left: 2.5vmin;
}
.secendsLine{
    width: 26vmin;
    margin-left: 0.3vmin;
    margin-bottom: 0.3vmin;
}
.middleRound{
    width: 1vmin;
    height: 1vmin;
    border: 4px solid rgb(255, 255, 255);
    position: absolute;
    left: 49.15%;
    top: 49.3%;
    border-radius: 50%;
    background-color: white;
}